* {
  margin: 0;
  padding: 0;
}

h1 {
  color: #512051;
  font-size: 32px;
}

.main-text {
  color: #927b91;
  font-size: 15px;
}

.rating-box {
  background-color: #f7f2f7;
}

.rating-box > p {
  color: #512051;
  font-size: 13px;
}

.reviwer {
  background-color: #512051;
}

.reviwer > img {
  border-radius: 50%;
  height: auto;
  width: 40px;
}

.reviwerName {
  color: #ffffff;
  font-size: 13px;
}

.verified {
  color: #ee69a4;
  font-size: 13px;
}

.reviwerText {
  color: #ffffff;
  font-size: 13px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
