* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(/images/bg-pattern-top-mobile.svg),
    url(/images/bg-pattern-bottom-mobile.svg);
  background-position: top left, bottom right;
  background-repeat: no-repeat, no-repeat;
  background-size: 95vw, 110vw;
  font-family: "Spartan", sans-serif;
}

.container {
  margin: 0 10vw;
  width: 80vw;
}

h1 {
  color: #512051;
  font-size: 32px;
  margin-top: 8vh;
  text-align: center;
}

.main-text {
  color: #927b91;
  font-size: 15px;
  line-height: 1.5;
  margin: 15px 10.45% 25px 10.45%;
  text-align: center;
}

.ratingBoxes {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rating-box {
  align-items: center;
  background-color: #f7f2f7;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 10px 0;
  text-align: center;
  width: 327px;
}

.rating-box > img {
  padding: 5px;
}

.rating-box > p {
  color: #512051;
  font-size: 13px;
  font-weight: 700;
  margin: 5px 0;
}

.testimonialSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
}

.reiverDetailsContainer {
  display: flex;
  margin-left: 10%;
}

.reviwer {
  background-color: #512051;
  border-radius: 10px;
  padding: 25px 0;
  width: 327px;
  margin-bottom: 15px;
}

.reviwerPhoto {
  border-radius: 50%;
  height: auto;
  margin-left: 10%;
  margin-right: 20px;
  width: 40px;
}

.reviwerName {
  color: #ffffff;
  display: inline;
  font-size: 13px;
  font-weight: 500;
}

.verified {
  color: #ee69a4;
  display: inline;
  font-size: 13px;
}

.reviwerText {
  color: #ffffff;
  font-size: 13px;
  line-height: 1.5;
  margin: 15px 10% 15px 10%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 1000px) {
  body {
    background-image: url(/images/bg-pattern-top-desktop.svg),
      url(/images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
    background-size: 45vw, 70vw;
  }

  .container {
    margin: 20vh 10%;
    max-width: 1440px;
    width: 80%;
  }

  h1 {
    font-size: 48px;
    margin: 0;
    text-align: left;
  }

  .main-text {
    margin: 2.5vh 0 0 0;
    text-align: left;
  }

  .main-text > br {
    display: none;
  }

  .marketingSection {
    display: grid;
    grid-template-columns: 40% 60%;
  }

  .rating-box {
    display: grid;
    grid-template-columns: 10px 10px 10px 10px 10px 75%;
    column-gap: 15px;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
    height: auto;
    width: minmax(300px, auto);
  }

  .starTwo {
    margin-left: 6vw;
  }

  .starThree {
    margin-left: 12vw;
  }

  .testimonialSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
  }

  .reviwer {
    height: auto;
    width: 350px;
  }

  .reviewTwo {
    margin-top: 40px;
  }

  .reviewThree {
    margin-top: 80px;
  }

  .reiverDetailsContainer {
    height: 40px;
    margin-top: 15px;
    width: 160px;
  }

  .reviwerText {
    line-height: 1.75;
    margin: 25px 10% 10px 10%;
  }
}
